/* Your CSS styles for Text component */
/* Example styles */
.font-size-small {
  font-size: 14px;
}

.font-size-medium {
  font-size: 16px;
}

.font-size-large {
  font-size: 20px;
}

.font-weight-normal {
  font-weight: normal;
}

.font-weight-bold {
  font-weight: bold;
}

.color-red {
  color: red;
}

.color-blue {
  color: blue;
}
