.btn {
  background-color: var(--primary-color);
  border-radius: 0.25rem;
}

.primary {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.secondary {
  background-color: var(--active-gray-color);
}

.outline {
  border: none;
}

.icon {
  background-color: var(--icon-color);
}

