@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  /* --------------font-------------------- */
  --font-family: 'Roboto', sans-serif;

  /* -------------color-------------------- */
  --primary-color: #416edf;
  --secondary-color: #ffce31;
  --white: #ffffff;
  --light-gray: #f5f7fb;
  --dark: #212121;
  --danger-color: #dc3545;

  /* -------------font-size-----------------*/
  --font-size-small: 14px;
  --font-size-base: 16px;
  --font-size-large: 20px;

  /* -------------font-weight-------------- */
  --font-weight-medium: 400;
  --font-weight-bold: 500;
  --font-weight-regular: 500;
}
