/*------------------------------------*\
  .table
\*------------------------------------*/
.table {
  width: 100%;
}

.tableTitle,
.tableData {
  padding: 0.625rem 0.5rem;
  text-align: left;
  border-bottom: 1px solid var(--table-col-border-color);
  min-width: 50px;
  max-width: 300px;
}

.tableContent .tableData {
  background-color: var(--white-color);
}

.tableRow {
  background-color: var(--table-background-color);
}

.tableMessage {
  padding: 0.75rem;
}

.tableIcon {
  display: flex;
  justify-content: space-between;
  height: 16px;
  width: 100%;
  cursor: pointer;
  background-color: var(--table-background-color);
}

.tableIcon:hover {
  background-color: var(--table-background-color);
}
