.text {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-base);
  color: var(--primary-text-color);
}

.large {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-medium);
}

.normal {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-medium);
}

.primary {
  color: var(--primary-color);
}

.white {
  color: var(--white-color);
}
