/*------------------------------------*\
 Typography
\*------------------------------------*/
/* Font root */
html,
body {
  font-family: var(--font-family);
  font-style: normal;
}

body {
  font-size: var(--font-size-base);
}

