.container {
  z-index: 30;
}
.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popupDefault {
  position: relative;
  display: flex;
  top: 10px;
  left: -5px;
  z-index: 200;
  background-color: var(--white-color);
  padding: 20px;
  border-radius: 5px;
  height: 90vh;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  width: 400px;
  max-width: 100%;
}

.closeButton {
  background-color: var(--icon-color);
  color: var(--white-color);
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}

.closeButtonContent {
  position: absolute;
  top: 10px;
  right: 15px;
}
